.container{
    display: grid;
    height: 100%;
    grid-template-columns: auto 1fr;
}

.img-box{
    display: grid;
    height: 100%;
}

.purple-image{
    max-width: 100%;
    max-height: 100vh;
}

.form-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo{
    display: block;
    margin: 0 auto 32px auto;
}

.register-h1{
    text-align: center;
}

.register-destaque{
    text-align: center;
    margin-bottom: 26px;
}

.login-form{
    display: flex;
    flex-direction: column;
}

.text-input{
    color: #848484;
    background-color: #E9E9E9;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    width: 514px;
    margin-bottom: 20px;
}

.purple-button{
    color: #FFFFFF;
    background-color: #9747FF;
    border-radius: 15px;
    border: none;
    padding: 10px 0;
    padding: 16px 80px;
    margin: 14px auto 16px auto;
    box-sizing: border-box;
}

.register-link{
    text-decoration: none;
    color: #9747FF;
    margin: 0 auto;
}