@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;600&display=swap');

h1{
    font-size: 36px;
    font-weight: 600;
    font-family: 'Jost', sans-serif;
}

h2{
    font-size: 32px;
    font-weight: 600;
    font-family: 'Jost', sans-serif;
}

h3{
    font-size: 32px;
    font-weight: 400;
    font-family: 'Jost', sans-serif;
}

.destaque{
    font-size: 32px;
    font-weight: 300;
    font-family: 'Jost', sans-serif;
}

.texto{
    font-size: 24px;
    font-weight: 400;
    font-family: 'Jost', sans-serif;
}

.instrucao{
    font-size: 24px;
    font-weight: 200;
    font-family: 'Jost', sans-serif;
}

.alerta{
    font-size: 18px;
    font-weight: 300;
    font-family: 'Jost', sans-serif;
}

.navbar{
    display: flex;
    flex-direction: row;
    background-color: #CC6FED;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 18px 30px;
}

.search-bar{
    display: flex;
    align-items: center;
    padding: 14px 12px;
    width: 50vw;
    border-radius: 20px;
    background-color: #E5E5E5;
}

.search-bar button{
    border: none;
    background-color: #E5E5E5;
}

.search-bar input{
    border: none;
    box-shadow: none;
    background-color: #E5E5E5;
    width: 100%;
}

.search-bar input:focus{
    outline: none;
}

.navbar-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.navbar-links a{
    text-decoration: none;
    color: #FFFFFF;
}

@media (max-width: 1114px) {
    .search-bar{
        display: none;
    }
}

@media (max-width: 438px) {
    .navbar-links a{
        display: none;
    }
}