.viewport-div {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(180deg,
            #CC6FED,
            #CC6FED 20%,
            #FAEFFD);
}

.main-container {
    height: 80vh;
    width: 60vw;
    border-radius: 15px;
    background-color: #FFFFFF;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.inside-container{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.titulo-principal{
    text-align: center;
    margin-bottom: 16px;
}

.titulo-secundario{
    text-align: center;
    margin-bottom: 18px;
}

.register-project-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-input{
    color: #0A0A0A;
    background-color: #E9E9E9;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    width: 50vw;
    margin-bottom: 18px;
}

.date-and-reward-container{
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.date-input{
    color: #0A0A0A;
    background-color: #E9E9E9;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    width: 32vw;
}

.number-input{
    color: #0A0A0A;
    background-color: #E9E9E9;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    width: 8vw;
}

.purple-button{
    cursor: pointer;
    color: #FFFFFF;
    background-color: #9747FF;
    border-radius: 15px;
    border: none;
    padding: 10px 0;
    padding: 16px 80px;
    margin: 30px auto 0px auto;
    box-sizing: border-box;
    transition: 0.5s;
}

.purple-button:hover{
    border: 2px solid #9747FF;
    background-color: rgba(0, 0, 0, 0);
    color: #0A0A0A;
}

@media (max-height: 960px) {
    .main-container{
        height: 95vh;
    }
}