.banner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 464px;
    margin: 32px 0;
    background-image: url(../assets/project-boilerplate-banner.png);
    background-size: cover;
}

.banner-title{
    font-size: 64px;
    text-align: center;
    color: white;
}

.principal > h1{
    text-align: center;
}

.principal-contents{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 64px;
    gap: 48px;
}

.principal-contents-pagamento-box > .texto, .principal-contents-pagamento-box > .destaque{
    color: #CC6FED;
    margin-bottom: 4px;
}

.purple-button{
    background-color: #CC6FED;
    color: #FFFFFF;
    padding: 16px 48px;
    border: none;
    border-radius: 15px;
    margin-top: 12px;
}