.navbar{
    display: flex;
    flex-direction: row;
    background-color: #CC6FED;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 36px 30px;
}

.search-bar{
    display: flex;
    align-items: center;
    padding: 14px 12px;
    width: 50vw;
    border-radius: 20px;
    background-color: #E5E5E5;
}

.search-bar button{
    border: none;
    background-color: #E5E5E5;
}

.search-bar input{
    border: none;
    box-shadow: none;
    background-color: #E5E5E5;
    width: 100%;
}

.search-bar input:focus{
    outline: none;
}

.navbar-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.navbar-links a{
    text-decoration: none;
    color: #FFFFFF;
}

@media (max-width: 1114px) {
    .search-bar{
        display: none;
    }
}

@media (max-width: 438px) {
    .navbar-links a{
        display: none;
    }
}